In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
df=pd.read_csv('/train.csv',encoding='latin-1')

In [5]:
df.shape

(550068, 12)

In [6]:
df.dtypes

User_ID                         int64
Product_ID                     object
Gender                         object
Age                            object
Occupation                      int64
City_Category                  object
Stay_In_Current_City_Years     object
Marital_Status                  int64
Product_Category_1              int64
Product_Category_2            float64
Product_Category_3            float64
Purchase                        int64
dtype: object

In [8]:
df

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969
...,...,...,...,...,...,...,...,...,...,...,...,...
550063,1006033,P00372445,M,51-55,13,B,1,1,20,NaN,NaN,368
550064,1006035,P00375436,F,26-35,1,C,3,0,20,NaN,NaN,371
550065,1006036,P00375436,F,26-35,15,B,4+,1,20,NaN,NaN,137
550066,1006038,P00375436,F,55+,1,C,2,0,20,NaN,NaN,365
550067,1006039,P00371644,F,46-50,0,B,4+,1,20,NaN,NaN,490

Warning: total number of rows (550068) exceeds max_rows (20000). Limiting to first (20000) rows.
WARNING: Runtime no longer has a reference to this dataframe, please re-run this cell and try again.

In [15]:
df['Product_ID'].unique()

array(['P00069042', 'P00248942', 'P00087842', ..., 'P00370293',
       'P00371644', 'P00370853'], dtype=object)

In [27]:
df.isnull().sum()

User_ID                            0
Product_ID                         0
Age                                0
Occupation                         0
City_Category                      0
Stay_In_Current_City_Years         0
Marital_Status                     0
Product_Category_1                 0
Product_Category_2            173638
Product_Category_3            383247
Purchase                           0
Male                               0
dtype: int64

In [18]:
df['Product_ID']=df['Product_ID'].astype(int)

In [19]:
df['Product_ID'].dtype

dtype('int64')

In [21]:
df['Occupation'].dtype

dtype('int64')

In [22]:
df[['Male']]=pd.get_dummies(df['Gender'],drop_first=True).astype(int)

In [24]:
df=df.drop('Gender',axis=1)

In [26]:
df['Age'].unique()

array(['0-17', '55+', '26-35', '46-50', '51-55', '36-45', '18-25'],
      dtype=object)

In [29]:
df['Purchase'].query('Male==1')

AttributeError: 'Series' object has no attribute 'query'

In [33]:
female_df = df[df['Male'] == 1]['Purchase']

In [34]:
male_df = df[df['Male'] == 0]['Purchase']

In [ ]:
gender_purchase_data = pd.DataFrame({
    'Gender': ['Male', 'Female'],
    'Total Purchase': [male_purchase_total, female_purchase_total]
})

# Plot the bar chart
sns.barplot(x='Gender', y='Total Purchase', data=gender_purchase_data)

# Add title and labels
plt.title('Total Purchases by Gender')
plt.ylabel('Total Purchase Amount')
plt.xlabel('Gender')

# Show the plot
plt.show()